@import '../../vendor/livewire/flux/dist/flux.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-accent: #262626;
    --color-accent-content: #262626;
    --color-accent-foreground: #ffffff;
}

.dark {
    --color-accent: #ffffff;
    --color-accent-content: #ffffff;
    --color-accent-foreground: #262626;
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-none ring-2 ring-zinc-800 ring-offset-2;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
